<a class="logo box-block color-white weight-bold box-flex" href="/" title="Skeleventy home">
    <image src="/favicon.svg" width="45" height="45"/>
    <span class="typograph text-700">Chuan</span>
</a>
